/JAVA-Basics/first-app/target/
/JAVA_Database/dist/
/JavaFXApplication/nbproject/private/
/JavaFXApplication/build/
/JavaFXApplication/dist/
/JavaFXApp/nbproject/private/
/JavaFXApp/build/
/JavaFXApp/dist/