/JAVA-Basics/first-app/target/
/JAVA_Database/dist/
/JavaFXApplication/nbproject/private/
/JavaFXApplication/build/
/JavaFXApplication/dist/
/JavaFXApp/nbproject/private/
/JavaFXApp/build/
/JavaFXApp/dist/
/Lab-Report/Chapter1/nbproject/private/
/Lab-Report/Chapter1/build/
/RMI-App/dist/
/Event_Handling/build/
/Lab-Report/Lab2/01_Border_Layout/nbproject/private/
/Lab-Report/Lab2/01_Border_Layout/build/
/Lab-Report/Lab2/02_Adder/nbproject/private/
/Lab-Report/Lab2/02_Adder/build/
/Lab-Report/Lab2/03_Menu/nbproject/private/
/Lab-Report/Lab2/03_Menu/build/
/Lab-Report/Lab3/01_AdapterClassEvent/nbproject/private/
/Lab-Report/Lab3/01_AdapterClassEvent/build/
/Lab-Report/Lab4/01_JDBC_ReadWrite/nbproject/private/
/Lab-Report/Lab4/01_JDBC_ReadWrite/build/
/Lab-Report/Lab5/01_TCP/nbproject/private/
/Lab-Report/Lab5/01_TCP/build/
/Lab-Report/Lab5/02_UDP/nbproject/private/
/Lab-Report/Lab5/02_UDP/build/
/Lab-Report/Lab6/01_Mail/nbproject/private/
/Lab-Report/Lab6/01_Mail/build/