/JAVA-Basics/first-app/target/
/JAVA_Database/dist/
/JavaFXApplication/nbproject/private/
/JavaFXApplication/build/
/JavaFXApplication/dist/
/JavaFXApp/nbproject/private/
/JavaFXApp/build/
/JavaFXApp/dist/
/Lab-Report/Chapter1/nbproject/private/
/Lab-Report/Chapter1/build/
/RMI-App/dist/
/Event_Handling/build/